config/.config/nvim/.config/nvim/bundle/*
config/.config/nvim/.config/nvim/autoload/plugged/*
mutt/.mutt
__pycache__
.DS_Store
config/zsh/.zsh/appen.zsh
config/gcloud/*
**/*.log
config/zsh/.zsh_history

.zsh_history
tags
config/local
config/zsh/.zcompdump*
config/zsh/.zcompdump*
config/cache

cache
config/local/share
config/tmux/plugins
config/gcloud
config/zsh/.zsh_sessions
node_modules
