config/.config/nvim/.config/nvim/bundle/*
config/.config/nvim/.config/nvim/autoload/plugged/*
mutt/.mutt
__pycache__
.DS_Store
config/.config/zsh/.zsh/appen.zsh
config/.config/gcloud/*
**/*.log
config/.config/zsh/.zsh_history

.zsh_history
