snippet license "Insert Appen License" b
#  License: Proprietary
#  Copyright (c) 2020, Appen Inc.
#  All rights reserved - Do Not Redistribute
endsnippet



snippet appencopywrite "Copywrite" b
#  License: Proprietary
#  Copyright (c) 2020, Appen Inc.
#  All rights reserved - Do Not Redistribute

endsnippet


